.driver-profile {
  width: 100%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  display: inline-flex;
}

.profile-info {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;
  display: inline-flex;
}

.profile-image {
  width: 135px;
  height: 132.39px;
  border-radius: 9999px;
  border: 1px solid;
}

.text-info {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: inline-flex;
}

.driver-name {
  text-align: center;
  color: #333333;
  font-size: 32px;
  font-weight: 700;
  word-wrap: break-word;
}

.ratings-and-status {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.status {
  display: flex;
  gap: 10px;
}

.status-check-container {
  display: flex;
  align-items: center;
}
.star-rating {
  display: flex;
  gap: 2px;
}
